<ion-content fullscreen class="ion-padding tent" scroll-y="false">
  <swiper [pagination]="true" class="mySwiper">
    <ng-template swiperSlide>
      <div class="slide">
        <img src="../../../assets/image/transaksi.png" />
        <h2>SELAMAT DATANG</h2>
        <p class="par">
          Permudah transaksi anda di Bank Sampah Kuantan Bersih dengan M-BSKB
        </p>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="slide">
        <img src="../../../assets/image/iconon.png" />
        <h2>Kami Bertujuan</h2>
        <p class="par">
          “Mereduksi (Mengurangi) Timbunan Sampah di tingkat masyarakat. dan
          mewujudkan Kota Tanjungpinang yang bersih, indah dan lestari.”
        </p>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="slide">
        <img src="../../../assets/image/truk.png" />
        <h2>Permudah Setor Sampah</h2>
        <p class="par">
          Gak perlu repot mikirin sampah yang susah di bawa, karena kami punya
          layanan JEMPUT SAMPAH.
        </p>
        <ion-button class="start" fill="clear" click="" routerLink="/login">Mulai</ion-button>
      </div>
    </ng-template>
  </swiper>
</ion-content>
