// home.page.scss
// @import '~swiper/swiper.scss';
// @import '~@ionic/angular/css/ionic-swiper';
// @import '~swiper/components/pagination/pagination.scss';

.ion-padding{
    --background: #FCFFF2;
    --background: url('../../../assets/image/on1.png') no-repeat 10%;
    background-size: cover;
    background-position: center;

}


.mySwiper {
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #167A42;

    /* Center slide text vertically */
    display: flex;
    align-items: center;
    min-height: 90vh;

}


 .swiper-slide img {
     max-height: 50%;
     max-width: 80%;
     pointer-events: none;
 }

   b {
       font-weight: 500;
   }

   p {
    margin: 2.8rem;
    font-size: 14px;
    line-height: 1.5;
    
   }

   ion-button{
    // width: auto;
    font-family: 'Poppins', sans-serif;
    border-radius: 12px;
    color: #FCFFF2;
    --background: #1D8A4D;
   }

.swiper-slide h2{
    font-weight: bold;
}


