<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pinjaman Sosial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="items">
    <p>Mohon isi data yang diperlukan dengan benar</p>

    <form #form="ngForm">
      <ion-list>
        <div class="nominal">
          <ion-label position="stacked" floating>Nominal Peminjaman</ion-label>
          <ion-input></ion-input>
          <p>*Peminjaman sosial maksimal Rp 200.000</p>
        </div>

        <div class="sktm">
          <ion-label position="stacked" floating>Upload Foto SKTM</ion-label>
          <ion-input
            type="file"
            (change)="loadImageFromDevice($event)"
            id="file-input"
            accept="image/png, image/jpeg"
            required
          ></ion-input>
        </div>

        <div class="keperluan">
          <ion-label position="stacked" floating
            >Keperluan Peminjaman</ion-label
          >
          <ion-select>
            <ion-select-option>Kesehatan</ion-select-option>
            <ion-select-option>Pendidikan</ion-select-option>
          </ion-select>
        </div>
      </ion-list>
    </form>

    <div class="button" *ngFor="let b of pinjam">
      <ion-button (click)="addToPinjam(b)" class="log"> KIRIM </ion-button>
    </div>
  </div>
</ion-content>
