.tool{
    color:#a6ce39;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
h3{
    margin-left: 20px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}
.title {
    font-weight: bold;
}

ol{
    text-align: justify;
    font-family: 'Poppins', sans-serif;

    margin: 5px;
}
.a{
    padding: 45px;
}