<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reg"></ion-back-button>
    </ion-buttons>
    <ion-title>Syarat dan Ketentuan M-BSKB</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <h3>A. DEFINISI</h3>
    <ion-item>
      <p>
        1. M-BSKB (Mobile Banking) adalah layanan produk Bank Sampah Kuantan
        Bersih yang dapat diakses secara langsung oleh Nasabah melalui telepon
        seluler/handphone, dengan menggunakan media jaringan internet pada
        handphone sesuai ketentuan yang berlaku di BSKB.
      </p>
    </ion-item>

    <ion-item>
      <p>
        2. BSKB mobile adalah aplikasi yang dapat di-download dari website resmi
        BSKB maupun media distribusi aplikasi/software resmi yang ditunjuk BSKB
        yang dimiliki oleh
        <ion-text style="font-style: italic">mobile operating system</ion-text>
        yang terdapat di handphone nasabah untuk melakukan transaksi melalui
        m-BSKB atau untuk memperoleh Info BSKB.
      </p>
    </ion-item>

    <ion-item>
      <p>
        3.
        <ion-text style="font-style: italic">Quick Response Code</ion-text> atau
        QR Code adalah kode dua dimensi yang terdiri atas penanda tiga pola
        persegi pada sudut kiri bawah, sudut kiri atas, dan sudut kanan atas,
        memiliki modul hitam berupa persegi titik atau piksel, dan memiliki
        kemampuan menyimpan data alfanumerik, karakter, dan simbol.
      </p>
    </ion-item>

    <ion-item>
      <p>
        4. QR Code untuk Pencairan atau QR Code Pencairan adalah QR Code yang
        digunakan untuk memfasilitasi transaksi Pencairan melalui pemindaian.
      </p>
    </ion-item>

    <ion-item>
      <p>
        5. Nasabah adalah pemilik rekening perorangan dalam bentuk tabungan, di
        BSKB.
      </p>
    </ion-item>

    <ion-item>
      <p>
        6. Pinjaman sosial adalah layanan peminjaman dana dengan keperluan untuk
        kesehatan atau pendidikan,dengan limit peminjaman maksimal Rp. 200.000;
      </p>
    </ion-item>

    <ion-item>
      <p>
        7. Rekening yang ada di BSKB terdiri dari rekening Reguler, Sosial,
        Pendidikan, Lebaran/Natal
      </p>
    </ion-item>

    <ion-item>
      <p>
        8. Jemput Sampah adalah layanan penjemputan sampah ke rumah nasabah atau
        alamat yang di masukkan, dengan syarat tanggal penjemputan minimal 3
        hari sebelum penjemputan. Jika kurang dari 3 hari maka tidak akan
        ditindak lanjuti.
      </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <h3>B. REGISTRASI M-BSKB</h3>
    <ion-item>
      <p>1. Setiap Nasabah yang terdaftar berhak menggunakan M-BSKB.</p>
    </ion-item>

    <ion-item>
      <p>
        2. Untuk dapat menggunakan M-BSKB, Nasabah harus terhubung ke internet,
        meng-install BSKB mobile serta memiliki Password yang ditentukan sendiri
        oleh Nasabah pada saat melakukan registrasi di kantor BSKB maupun
        registrasi secara mandiri.
      </p>
    </ion-item>

    <ion-item>
      <p>
        3.BSKB berhak untuk menentukan jumlah nomor handphone yang dapat
        digunakan Nasabah untuk melakukan registrasi M-BSKB, yang akan
        diberitahukan kepada Nasabah dalam bentuk dan melalui sarana apa pun
        sesuai ketentuan yang berlaku.
      </p>
    </ion-item>

    <ion-item>
      <p>
        4. Nasabah dapat menambah, mengubah, dan/atau menghapus Nomor Handphone
        BSKB melalui halaman profile atau sarana lainnya yang ditentukan oleh
        BSKB di kemudian hari.
      </p>
    </ion-item>
  </ion-list>
</ion-content>
