<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reg"></ion-back-button>
    </ion-buttons>
    <ion-title>Syarat dan Ketentuan M-BSKB</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ol class="a" type="A">
    <li>DEFINISI</li>
    <ol type="1">
      <li>
        MBSKB (Mobile Banking) adalah layanan produk Kuantan Bersih yang dapat
        diakses secara langsung oleh Nasabah melalui telepon seluler/handphone
        sesuai ketentuan yang berlaku di Kuantan Bersih.
      </li>
      <li>
        MBSKB adalah aplikasi yang dapat di-download dari website resmi Kuantan
        Bersih maupun media distribusi aplikasi/software resmi yang ditunjuk
        Kuantan Bersih yang dimiliki oleh mobile operating system yang terdapat
        di handphone nasabah untuk melakukan transaksi melalui MBSKB.
      </li>
    </ol>
    <li>REGISTRASI MBSKB</li>
  </ol>
</ion-content>
