<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reg"></ion-back-button>
    </ion-buttons>
    <ion-title>Syarat dan Ketentuan M-BSKB</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ol class="a" type="A">
    <li>DEFINISI</li>
    <ol type="1">
      <li>
        MBSKB (Mobile Banking) adalah layanan produk Kuantan Bersih yang dapat
        diakses secara langsung oleh Nasabah melalui telepon seluler/handphone
        sesuai ketentuan yang berlaku di Kuantan Bersih.
      </li>
      <li>
        MBSKB adalah aplikasi yang dapat di-download dari website resmi Kuantan
        Bersih maupun media distribusi aplikasi/software resmi yang ditunjuk
        Kuantan Bersih yang dimiliki oleh mobile operating system yang terdapat
        di handphone nasabah untuk melakukan transaksi melalui MBSKB.
      </li>
      <li>
        Quick Response Code atau QR Code adalah kode dua dimensi yang terdiri
        atas penanda tiga pola persegi pada sudut kiri bawah, sudut kiri atas,
        dan sudut kanan atas, memiliki modul hitam berupa persegi titik atau
        piksel, dan memiliki kemampuan menyimpan data alfanumerik, karakter, dan
        simbol.
      </li>
      <li>
        QR Code Tarik Tunaik adalah QR Code yang dihasilkan oleh MBSKB atau
        sarana lainnya yang ditentukan oleh Kuantan Bersih yang dapat digunakan
        oleh Nasabah untuk melakukan Tarik Tunai.
      </li>
    </ol>
    <li>REGISTRASI MBSKB</li>
    <ol type="1">
      <li>
        Setiap Nasabah yang mendaftar di Kuantan Bersih berhak untuk menggunakan
        MBSKB.
      </li>
      <li>
        Nasabah dapat mengubah, dan/atau menghapus password melalui pegawai
        resmi di kantor Kuantan Bersih.
      </li>
      <li>
        Nasabah yang mendaftar akan secara otomatis memiliki 1 jenis rekening
        berdasarkan apa yang nasabah pilih di form registrasi.
      </li>
    </ol>
    <li>KETENTUAN PENGUNAAN</li>
    <ol type="1">
      <li>
        Nasabah wajib memastikan ketersediaan dana pada rekening Nasabah sebelum
        melakukan transaksi melalui MBSKB, nasabah harus mengisi semua data yang
        dibutuhkan untuk setiap transaksi secara benar dan lengkap.
      </li>
      <li>
        Kuantan Bersih berhak menentukan limit atas transaksi yang dilakukan
        Nasabah melalui MBSKB yang akan diberitahukan dalam bentuk dan melalui
        sarana apa pun sesuai ketentuan hukum yang berlaku.
      </li>
      <li>Limit pengajuan pinjaman hanya Rp. 200.000;</li>
      <li>
        Nasabah dapat melakukan permintaan penjemputan sampah minimal 3 hari
        sebelum masa penjemputan.
      </li>
      <li>
        Nasabah dapat melakukan pembelian sembako dengan saldo yang ada di
        rekening kecuali rekening sosial.
      </li>
      <li>Nasabah dapat melihat laporan penjualan di menu laporan.</li>
      <li>
        Tarik tunai hanya bisa dilakukan menggunakan rekenng reguler yang dapat
        di tarik setiap waktu,rekening pendidikan yang dapat di tarik setiap
        semester baru, dan rekening perayaan yang dapat di tarik setiap idul
        fitri dan natal. Untuk rekening sosial tidak berlaku tarik tunai karena
        bersifat sumbangan dan tidak akan ada saldo yang di tampilkan.
      </li>
      <li>
        Kuantan Bersih berhak untuk tidak melaksanakan instruksi dari Nasabah,
        jika saldo rekening Nasabah di MBSKB tidak mencukupi untuk melakukan
        transaksi yang bersangkutan atau rekening Nasabah diblokir.
      </li>
      <li>
        Nasabah wajib dan bertanggung jawab untuk memastikan ketepatan dan
        kelengkapan instruksi transaksi melalui MBSKB yang dikirim kepada
        Kuantan Bersih . Kuantan Bersih tidak bertanggung jawab terhadap segala
        akibat apapun yang timbul karena ketidaklengkapan, ketidakjelasan data,
        atau ketidaktepatan instruksi dari Nasabah.
      </li>
      <li>
        Nasabah menyetujui dan mengakui keabsahan, kebenaran, atau keaslian
        bukti instruksi dan komunikasi yang dikirim secara elektronik oleh
        Kuantan Bersih, termasuk dokumen dalam bentuk catatan komputer atau
        bukti transaksi yang dijalankan oleh Kuantan Bersih,salinan atau bentuk
        penyimpanan informasi yang lain yang terdapat pada Kuantan Bersih. Semua
        sarana dan/atau dokumen tersebut merupakan satu-satunya alat bukti yang
        sah dan mengikat atas transaksi-transaksi perbankan yang dilakukan oleh
        Nasabah melalui MBSKB, kecuali Nasabah dapat membuktikan sebaliknya.
      </li>
      <li>
        Nasabah dengan ini setuju bahwa BCA berhak untuk menginformasikan nama,
        nomor rekening, dan/atau data transaksi Nasabah yang dilakukan melalui
        MBSKB kepada pihak lain yang terkait dengan transaksi yang dilakukan
        oleh Nasabah.
      </li>
      <li>
        Kuantan Bersih berhak menutup layanan MBSKB antara lain apabila MBSKB
        digunakan untuk melakukan suatu tindakan melanggar hukum.
      </li>
    </ol>
    <li>FORCE MAJEURE</li>
    Dalam hal Kuantan Bersih tidak dapat melaksanakan instruksi dari Nasabah,
    baik sebagian maupun seluruhnya karena kejadian-kejadian atau hal-hal di
    luar kekuasaan atau kemampuan Kuantan Bersih, termasuk namun tidak terbatas
    pada bencana alam, perang, huru-hara, peralatan/sistem/transmisi dalam
    keadaan tidak berfungsi, terjadinya gangguan listrik, gangguan
    telekomunikasi, adanya kebijakan pemerintah yang melarang Kuantan Bersih
    memberikan layanan MBSKB, serta kejadian-kejadian atau hal-hal lain di luar
    kekuasaan atau kemampuan Kuantan Bersih, maka Nasabah dengan ini membebaskan
    Kuantan Bersih dari segala macam tuntutan dalam bentuk apa pun terkait
    dengan hal tersebut.
    <li>PENGAKHIRAN MBSKB</li>
    <ol type="1">
      MBSKB akan berakhir jika:
      <li>
        Nasabah mengajukan permohonan pengakhiran MBSKB kepada Kuantan Bersih
      </li>
      <li>Nasabah menutup semua rekening.</li>
      Kuantan Bersih berhak mengakhiri pemberian MBSKB kepada Nasabah antara
      lain apabila:
      <li>
        Nasabah menggunakan MBSKB atau mengizinkan MBSKB dimanfaatkan oleh pihak
        lain untuk melakukan suatu tindakan yang melanggar hukum;
      </li>
    </ol>
    <li>LAIN-LAIN</li>
    <ol type="1">
      <li>
        Bukti transaksi yang dilakukan oleh Nasabah melalui MBSKB adalah mutasi
        yang tercatat pada rekening koran atau buku Tahapan (jika dicetak).
      </li>
      <li>
        Setiap keluhan terkait MBSKB harus disampaikan oleh Nasabah kepada
        Kuantan Bersih dalam waktu selambat-lambatnya 3 (tiga) bulan sejak
        tanggal transaksi melalui MBSKB dilakukan.
      </li>
      <li>
        Nasabah wajib segera melaporkan kepada Kuantan Bersih secara tertulis
        apabila terjadi perubahan data Nasabah.
      </li>
      <li>
        Nasabah dapat menghubungi kantor Kuantan Bersih atas setiap permasalahan
        yang berkenaan dengan transaksi, dan/atau penutupan MBSKB.
      </li>
      <li>
        Kuantan Bersih dapat mengubah Ketentuan MBSKB (Mobile Banking) Kuantan
        Bersih ini yang akan diberitahukan oleh Kuantan Bersih kepada Nasabah
        dalam bentuk dan melalui sarana apapun sesuai dengan ketentuan hukum
        yang berlaku.
      </li>
      <li>
        Nasabah dengan ini menyatakan tunduk pada Ketentuan MBSKB (Mobile
        Banking) Kuantan Bersih serta seluruh ketentuan yang berlaku di Kuantan
        Bersih yang mengatur mengenai jasa, fasilitas, dan transaksi yang dapat
        dilakukan yang akan diberitahukan oleh Kuantan Bersih kepada Nasabah
        dalam bentuk dan melalui sarana apapun sesuai dengan ketentuan hukum
        yang berlaku.
      </li>
    </ol>
    <li>PENYELESAIAN PERSELISIHAN</li>
    Nasabah setuju bahwa setiap perselisihan atau perbedaan pendapat yang timbul
    dari dan/atau berkenaan dengan pelaksanaan Ketentuan MBSKB (Mobile Banking)
    Kuantan Bersih ini antara Nasabah dengan Kuantan Bersih akan diselesaikan
    dengan cara musyawarah.
  </ol>
</ion-content>
