
ion-toolbar{
    color:#a6ce39;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
h3{
    margin-left: 20px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

p{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}
ion-title {
    font-weight: bold;
}