ion-toolbar {
    color: #a6ce39;
    font-family: 'Poppins', sans-serif;
}

div {
    margin: 0;
}

ion-row{
    display: flex;
}

ion-title {
    font-weight: bold;
}

a {
    color: black;
}

ion-card {
    margin: 20px;
    width: auto;
    --background: #e5eec9;
    font-family: 'Poppins', sans-serif;
    border-radius: 0;
}


.detail{
    color: #919794;
}

ion-card-title {
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
}