.tool {
    font-family: 'Poppins', sans-serif;
}

div {
    margin: 0;
}

.row{
    display: flex;
}

.title {
    font-weight: bold;
}

a {
    color: black;
}

.card {
    margin: 20px;
    width: auto;
    --background: #e5eec9;
    font-family: 'Poppins', sans-serif;
    border-radius: 0;
}


.detail{
    color: #919794;
}

.ct {
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
}