<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Laporan Penjualan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let i of inv">
      <ion-card-header>
        <ion-card-title>{{i.tanggalPembelian }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <a>{{ i.jenis }} </a>
          </ion-col>
          <ion-col>
            <a>{{ i.harga | currency:'Rp' }}</a>
          </ion-col>
          <ion-col class="ion-text-right">
            <a class="detail" (click)="openDetail()">Detail </a>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
