<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Laporan Penjualan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let i of inv" class="card">
      <ion-card-header>
        <ion-card-title class="ct">{{i.tanggal }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Jenis: {{t.id_jenis}}</p>
        <p>Jenis Sampah: {{t.id_sampah}}</p>
        <p>Berat: {{t.berat}}</p>
        <p>Harga: {{t.harga | currency: 'Rp'}}/Kg</p>
        <p>total: {{t.total | currency: 'Rp'}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
