<ion-header>
  <ion-toolbar>
    <ion-title>scan-modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isQRScannerActive" color="black">
  <div id="container">
    <zxing-scanner
      #scanner
      [(device)]="currentDevice"
      (scanSuccess)="onCodeResult($event)"
      (permissionResponse)="onHasPermission($event)"
    ></zxing-scanner>
    <ion-icon
      style="font-size: 40px; color: white"
      name="close-circle-outline"
      (click)="closeCamera()"
    ></ion-icon>
  </div>
</ion-content>
