ion-content{
    --background: url('../../../assets/image/bgpro.png') no-repeat 50% ;
        background-size: cover;
        background-position: center;

        font-family: 'Poppins', sans-serif;
}


ion-item {
    border-radius: 10px !important;
    //padding-left: 30px !important;
    font-size: 0.9em;
    margin-bottom: 4px;
    border: 1px solid rgba(34, 34, 34, 0.096);
    border-bottom: 0px !important;
    //box-shadow: none !important;

    background-color: #ffffff;
    -webkit-box-shadow: 4px 8px 6px -6px #222;
    -moz-box-shadow: 4px 8px 6px -6px #222;
    box-shadow: 4px 4px 6px -6px #222;
}

.error-container {
    color: red;
    font-size: 0.8em;
}

.button{
    min-width: 100%;
    min-height: 45px
}

h1 {
    font-size: 36px;
    text-align: left;
    color: #fafafa;
    padding-top: 5%;
    font-weight: bold;
}




ion-button {
    margin-top: 20px;
    text-decoration-color: #FCFFF2;
    --background: #1D8A4D;
}


ion-label {
    margin-left: 5px;
    color: #B5B5B5;
    font-size: 18px;
}


a {
    color: #252525;
}