<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col
        ><br />
        <div class="head">
          <h1>PROFILE</h1>
        </div>
        <br />
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="items">
    <form>
      <ion-item>
        <ion-label color="primary" position="floating">Username</ion-label>
        <ion-input type="text" name="Username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Password</ion-label>
        <ion-input disabled type="text" name="Password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Nama</ion-label>
        <ion-input disabled type="text" name="Nama"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Jenis Kelamin</ion-label>
        <ion-select disabled>
          <ion-select-option>Laki-Laki</ion-select-option>
          <ion-select-option>Perempuan</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">No. Hp</ion-label>
        <ion-input type="text" name="NoHp"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating"
          >Nomor Induk Keluarga</ion-label
        >
        <ion-input disabled type="text" name="Nik"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Upload KTP</ion-label>
        <br />
        <ion-input
          type="file"
          (change)="loadImageFromDevice($event)"
          id="file-input"
          accept="image/png, image/jpeg"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating">Alamat</ion-label>
        <ion-input type="text" name="Alamat"></ion-input>
      </ion-item>

      <br />

      <ion-button expand="full" (click)="save()">Simpan</ion-button>
    </form>

    <ion-button color="danger" expand="full" (click)="logout()"
      >Logout</ion-button
    >
  </div>

  <ion-button color="danger" (click)="logout()">Logout</ion-button>
</ion-content>
