ion-toolbar {
    color: #a6ce39;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

ion-col{
    display: flex;
}

ion-card{
    width: 50%;
    height: 50%;
    margin: 10px;
    --background: #e5eec9;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

ion-card-title{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
}