ion-toolbar {
    color: #a6ce39;
    font-family: 'Poppins', sans-serif;
}

div{
    margin: 0;
}
ion-fab-button{
    width: 50px;
    height: 50px;
    --background: #1D8A4D;
    
}

ion-title {
    font-weight: bold;
}

a{
    color: black;
}

.cart-icon{
    font-size: 40px;
    // width: auto;
}

.cart-length{
    font-family: 'Poppins', sans-serif;
    position: fixed;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 1em;
    z-index: 10;
    color: #1D8A4D;
}

ion-card{
    margin: 20px;
    width: auto;
    height: 100px;
    --background: #e5eec9;
    font-family: 'Poppins', sans-serif;
    border-radius: 0;
}

ion-card-title{
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
}

ion-button{
    width: auto;
    height: 50px;
    --background: #1D8A4D;
    text-decoration: #1D8A4D;
}