<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Katalog Sembako</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>
  <ion-col>
    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>

  <ion-col>
    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="#" />
      <ion-card-header>
        <ion-card-title>Sembako</ion-card-title>
        <ion-card-title>Sembako</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>
</ion-content>
