ion-toolbar {
    color: #a6ce39;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

// ion-col{
//     display: flex;
// }

ion-fab-button{
    width: 60px;
    height: 60px;
    --background: #1D8A4D;
    box-shadow: rgba(53, 52, 52, 0.2);
    
}

.cart-icon{
    font-size: 45px;
}

.cart-length{
    position: absolute;
    top:18px;
    left: 25px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
    color: #1D8A4D;
}

ion-card{
    margin: 30px;
    --background: #e5eec9;
    font-family: 'Poppins', sans-serif;
}

ion-card-title{
    margin: 10px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: bold;
}

ion-button{
    --background: #1D8A4D;
    text-decoration: #1D8A4D;
}