<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/account"></ion-back-button>
    </ion-buttons>
    <ion-title>Dokumen Pendukung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding support" mode="ios" >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid style="margin-top: 2em;">
    <ion-row class="row">
      <ion-col size="12" size-sm lines="none" style="margin-bottom: 10px;">
        <ion-label class="label">Kartu Tanda Penduduk (Wajib)</ion-label>
      </ion-col>
      <ion-col class="upload-file">
        <ion-label class="label">
          {{(profile?.ktpUrl =='' || profile?.ktpUrl == undefined)? '':'KTP'}}
        </ion-label>
        <ion-button class="button" *ngIf="profile?.ktpUrl != undefined" size="small" (click)="openFile('KTP')">
          <ion-icon name="create-outline"></ion-icon>Perbarui
        </ion-button>
        <ion-button class="button" *ngIf="profile?.ktpUrl == undefined" size="small"
          (click)="openFile('KTP')">
          <ion-icon name="cloud-upload-outline"></ion-icon>Unggah
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col size="12" size-sm lines="none" style="margin-bottom: 10px;">
        <ion-label class="label">Surat Keterangan Tidak Mampu (SKTM)</ion-label>
      </ion-col>
      <ion-col class="upload-file">
        <ion-label class="label">
          {{(profile?.sktmUrl =='' || profile?.sktmUrl == undefined)? '':'SKTM'}}
        </ion-label>
        <ion-button class="button" *ngIf="profile?.sktmUrl != undefined" size="small" (click)="openFile('SKTM')">
          <ion-icon name="create-outline"></ion-icon>Perbarui
        </ion-button>
        <ion-button class="button" *ngIf="profile?.sktmUrl == undefined" size="small"
          (click)="openFile('SKTM')">
          <ion-icon name="cloud-upload-outline"></ion-icon>Unggah
        </ion-button>
      </ion-col>
    </ion-row>
    <input type="file" #upload (change)="openGallery($event)" />
  </ion-grid>
</ion-content>