<ion-content class="ion-padding">
  <div class="content">
    <div>
      <ion-text>
        <h1>LOGIN</h1>
      </ion-text>
    </div>

    <div>
      <form #form="ngForm">
        <ion-list>
          <div class="item">
            <ion-label position="stacked" floating>Username</ion-label>
            <ion-input
              type="text"
              placeholder="Username"
              name="username"
              required
            ></ion-input>
          </div>
          <!-- <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" name="email" required></ion-input>
          </ion-item> -->
          <div class="item">
            <ion-label position="stacked" floating>Password</ion-label>
            <ion-input
              type="password"
              placeholder="Password"
              name="password"
              required
            ></ion-input>
          </div>
        </ion-list>
        <ion-button routerLink="/home" class="log" type="submit" click="">
          MASUK
        </ion-button>
      </form>
    </div>

    <div>
      <a>Belum Memiliki Akun?</a>
      <ion-button routerLink="/register" class="reg" click="">
        DAFTAR
      </ion-button>
    </div>
  </div>
</ion-content>
