<ion-content class="ion-padding">
  <div class="head">
    <ion-text>
      <h1>LOGIN</h1>
    </ion-text>
  </div>

  <ion-item class="username" id="username">
    <ion-label position="stacked">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="password" id="password">
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="text" placeholder="syahrizal2890"></ion-input>
  </ion-item>

  <div class="buttonL">
    <ion-button class="login" click=""> Login </ion-button>
    <a class="link" routerLink="/register">Buat Akun</a>
  </div>
</ion-content>
