<ion-content class="ion-padding">
  <div class="content">
    <div class="head">
      <ion-text>
        <h1>LOGIN</h1>
      </ion-text>
    </div>

    <div class="items">
      <form #form="ngForm">
        <ion-list>
          <div class="username">
            <ion-label position="stacked" floating>Username</ion-label>
            <ion-input
              type="text"
              placeholder="Masukkan Username"
              name="username"
              required
            ></ion-input>
          </div>
          <!-- <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" name="email" required></ion-input>
          </ion-item> -->
          <div class="password">
            <ion-label position="stacked" floating>Password</ion-label>
            <ion-input
              type="password"
              placeholder="Masukkan Password"
              name="password"
              required
            ></ion-input>
          </div>
        </ion-list>
      </form>
    </div>

    <div class="buttonL">
      <ion-button routerLink="/menu/home" class="log" click="">
        MASUK
      </ion-button>
    </div>

    <p>
      Belum punya akun?
      <a routerLink="/register" class="reg">&nbsp;Daftar Sekarang</a>
    </p>
  </div>
</ion-content>
