.ion-padding {
    // --background: #FCFFF2;
    --background: url('../../../assets/image/bglog.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

 .content {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
 }


h1{
    margin-bottom: 60px;
    text-align: center;
    color: #A6CE39;
    font-weight: bold;
    font-size: 36px;
}


ion-list {
    background: #FCFFF2;
}

.item{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #aaaaaa;
}

ion-input{
    margin-top: 3px;
}

ion-button{
    display: grid;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.log{
    margin-top: 20px;
    border-radius: 12px;
    color: #FCFFF2;
    --background: #1D8A4D;
}

.reg{
    margin-top: 10px;
    border-radius: 12px;
    color: #1D8A4D;
    --background: #FCFFF2;
    border-color: #1D8A4D;
}

a{
    display: grid;
    margin-top: 20px;
    justify-content: center;

    text-decoration: none;
    text-align: center;
    color: #B5B5B5;
}


