.ion-padding {
    --background: url('../../../assets/image/bglog.png') no-repeat 50%;
    background-size: cover;
    background-position: center;
    .head {
        display: flex;
        justify-content: center;
        
        font-family: 'Poppins', sans-serif;
    }

}

h1{
        font-size: 36px;
        text-align: center;
        color: #A6CE39;
        padding-top: 7%;
        font-weight: bold;
        margin-bottom: 20px;
}


.items {
    font-family: 'Poppins', sans-serif;
}

.username{
    margin-top: 30px;
}

.password {
    margin-top: 30px;
}

.buttonL{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
    
    .daftar {
        width:auto;
        height: 45px;
        border-radius: 12px;
        text-decoration-color: #FCFFF2;
        --background: #1D8A4D;
    }
}

.nama{
    margin-top: 30px;
}
.alamat {
    margin-top: 30px;
}
.nik {
    margin-top: 30px;
}
.nohp {
    margin-top: 30px;
}
.ktp {
    margin-top: 30px;
    height: 50px;
}

.jk {
    margin-top: 30px;
}

.rek {
    margin-top: 30px;
}

ion-input {
    border: 1px solid;
    border-color: rgba(203, 220, 157, 0.86);
    border-radius: 12px;
}

ion-select {
    border: 1px solid;
    border-color: rgba(203, 220, 157, 0.86);
    border-radius: 12px;
    height: 40px;
}

ion-label {
    margin-left: 5px;
    color: #B5B5B5;
    font-size: 18px;
}


p{
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    color: #B5B5B5;
}

.snk {
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;


    .sk{
        padding-left: 4px;
        text-align: center;
        color: #B5B5B5;

    }
}

.log{
    text-decoration: none;
}
