<ion-content class="ion-padding">
  <div class="head">
    <ion-text>
      <h1>REGISTRASI</h1>
    </ion-text>
  </div>

  <div class="items">
    <form #form="ngForm">
      <ion-list>
        <div class="username">
          <ion-label position="stacked" floating>Username</ion-label>
          <ion-input
            type="text"
            placeholder="Masukkan Username"
            name="username"
            required
          ></ion-input>
        </div>

        <div class="nama">
          <ion-label position="stacked" floating>Nama</ion-label>
          <ion-input
            type="text"
            placeholder="Masukkan Nama"
            name="nama"
            required
          ></ion-input>
        </div>

        <div class="jk">
          <ion-label position="stacked" floating>Jenis Kelamin</ion-label>
          <ion-select>
            <ion-select-option>Laki-Laki</ion-select-option>
            <ion-select-option>Perempuan</ion-select-option>
          </ion-select>
        </div>

        <div class="alamat">
          <ion-label position="stacked" floating>Alamat</ion-label>
          <ion-input
            type="text"
            placeholder="Masukkan Alamat"
            name="alamat"
            required
          ></ion-input>
        </div>

        <div class="nohp">
          <ion-label position="stacked" floating>Nomor Hp</ion-label>
          <ion-input
            type="number"
            placeholder="Masukkan Nomor Hp"
            name="nohp"
            required
          ></ion-input>
        </div>

        <div class="nik">
          <ion-label position="stacked" floating
            >Nomor Induk Keluarga</ion-label
          >
          <ion-input
            type="number"
            placeholder="Masukkan NIK"
            name="nik"
            required
          ></ion-input>
        </div>

        <div class="rek">
          <ion-label position="stacked" floating>Jenis Rekening</ion-label>
          <ion-select>
            <ion-select-option>Reguler</ion-select-option>
            <ion-select-option>Pendidikan</ion-select-option>
            <ion-select-option>Perayaan</ion-select-option>
            <ion-select-option>Sosial</ion-select-option>
          </ion-select>
        </div>

        <div class="ktp">
          <ion-label slot="end">Upload KTP</ion-label>
          <ion-input
            type="file"
            (change)="loadImageFromDevice($event)"
            id="file-input"
            accept="image/png, image/jpeg"
          ></ion-input>
        </div>

        <div class="password">
          <ion-label position="stacked" floating>Password</ion-label>
          <ion-input
            type="password"
            placeholder="Masukkan Password"
            name="password"
            required
          ></ion-input>
        </div>
      </ion-list>
    </form>
  </div>

  <div class="buttonL">
    <ion-button routerLink="/login" class="daftar" click="">
      DAFTAR
    </ion-button>
  </div>

  <p>
    Sudah punya akun?
    <a routerLink="/login" class="log">&nbsp;Masuk Sekarang</a>
  </p>

  <div class="snk">
    <ion-checkbox class="cek" checked="true"></ion-checkbox>
    <ion-label class="sk" routerLink="/sdk">Syarat dan Ketentuan</ion-label>
  </div>
</ion-content>
