.konten {
    --background: url('../../../../assets/image/bglog.png') no-repeat 60%;
    background-size: cover;
    background-position: center;

    font-family: 'Poppins', sans-serif;

}
.item {
    border-radius: 10px !important;
    font-size: 0.9em;
    margin-bottom: 4px;
    border: 1px solid rgba(34, 34, 34, 0.096);
    border-bottom: 0px !important;

    background-color: #ffffff;
    -webkit-box-shadow: 4px 8px 6px -6px #222;
    -moz-box-shadow: 4px 8px 6px -6px #222;
    box-shadow: 4px 4px 6px -6px #222;
}

.error-container {
    color: red;
    font-size: 0.8em;
}


h1 {
    font-size: 36px;
    text-align: center;
    color: #A6CE39;
    padding-top: 7%;
    font-weight: bold;
}


.button {
    margin-top: 20px;
    text-decoration-color: #FCFFF2;
    --background: #1D8A4D;
}


.label {
    color: #B5B5B5;
}

p{
    font-size: 14px;
    margin: 8px;
}

