<ion-content class="ion-padding">
  <div class="head">
    <ion-text>
      <h1>REGISTRASI</h1>
    </ion-text>
  </div>

  <form [formGroup]="FormRegister">
    <ion-item>
      <ion-label color="primary" position="floating">Username</ion-label>
      <ion-input
        type="text"
        name="Username"
        formControlName="Username"
      ></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.Username">
        <div
          class="error-message"
          *ngIf="FormRegister.get('Username').hasError(validation.type) && (FormRegister.get('Username').dirty || FormRegister.get('Username').touched)"
        >
          <span>{{ validation.message }}</span>
          <br /><br />
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label color="primary" position="floating">Password</ion-label>
      <ion-input
        type="text"
        name="Password"
        formControlName="Password"
        *ngIf="showPasswordText"
      ></ion-input>
      <ion-input
        type="password"
        name="Password"
        formControlName="Password"
        *ngIf="!showPasswordText"
      ></ion-input>
      <ion-icon
        color="dark"
        slot="icon-only"
        (click)="showPasswordText = !showPasswordText"
        *ngIf="showPasswordText"
        name="eye"
        slot="end"
        class="ion-align-self-center"
      ></ion-icon>
      <ion-icon
        color="dark"
        slot="icon-only"
        (click)="showPasswordText = !showPasswordText"
        *ngIf="!showPasswordText"
        name="eye-off"
        slot="end"
        class="ion-align-self-center"
      ></ion-icon>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.Password">
        <div
          class="error-message"
          *ngIf="FormRegister.get('Password').hasError(validation.type) && (FormRegister.get('Password').dirty || FormRegister.get('Password').touched)"
        >
          <span>{{ validation.message }}</span>
          <br /><br />
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label color="primary" position="floating">Nama</ion-label>
      <ion-input type="text" name="Nama" formControlName="Nama"></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.Nama">
        <div
          class="error-message"
          *ngIf="FormRegister.get('Nama').hasError(validation.type) && (FormRegister.get('Nama').dirty || FormRegister.get('Nama').touched)"
        >
          <span>{{ validation.message }}</span>
          <br /><br />
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label color="primary" position="floating">Jenis Kelamin</ion-label>
      <ion-select formControlName="JenisKelamin">
        <ion-select-option>Laki-Laki</ion-select-option>
        <ion-select-option>Perempuan</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.JenisKelamin">
        <div
          class="error-message"
          *ngIf="FormRegister.get('JenisKelamin').hasError(validation.type) && (FormRegister.get('JenisKelamin').dirty || FormRegister.get('JenisKelamin').touched)"
        >
          <span>{{ validation.message }}</span>
          <br /><br />
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label color="primary" position="floating">No. Hp</ion-label>
      <ion-input type="text" name="NoHp" formControlName="NoHp"></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.NoHp">
        <div
          class="error-message"
          *ngIf="FormRegister.get('NoHp').hasError(validation.type) && (FormRegister.get('NoHp').dirty || FormRegister.get('NoHp').touched)"
        >
          <span>{{ validation.message }}</span>
          <br /><br />
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label color="primary" position="floating">Jenis Rekening</ion-label>
      <ion-select formControlName="Rek">
        <ion-select-option>Reguler</ion-select-option>
        <ion-select-option>Pendidikan</ion-select-option>
        <ion-select-option>Perayaan</ion-select-option>
        <ion-select-option>Sosial</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.Rek">
        <div
          class="error-message"
          *ngIf="FormRegister.get('Rek').hasError(validation.type) && (FormRegister.get('Rek').dirty || FormRegister.get('Rek').touched)"
        >
          <span>{{ validation.message }}</span>
          <br /><br />
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label color="primary" position="floating"
        >Nomor Induk Keluarga</ion-label
      >
      <ion-input type="text" name="Nik" formControlName="Nik"></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.Nik">
        <div
          class="error-message"
          *ngIf="FormRegister.get('Nik').hasError(validation.type) && (FormRegister.get('Nik').dirty || FormRegister.get('Nik').touched)"
        >
          <span>{{ validation.message }}</span>
          <br /><br />
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label color="primary" position="floating">Upload KTP</ion-label>
      <br />
      <ion-input
        type="file"
        (change)="loadImageFromDevice($event)"
        id="file-input"
        accept="image/png, image/jpeg"
        formControlName="Ktp"
      ></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.Ktp">
        <div
          class="error-message"
          *ngIf="FormRegister.get('Ktp').hasError(validation.type) && (FormRegister.get('Ktp').dirty || FormRegister.get('Ktp').touched)"
        >
          <span>{{ validation.message }}</span>
          <br /><br />
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label color="primary" position="floating">Alamat</ion-label>
      <ion-input type="text" name="Alamat" formControlName="Alamat"></ion-input>
    </ion-item>
    <div class="error-container">
      <ng-container *ngFor="let validation of validations.Alamat">
        <div
          class="error-message"
          *ngIf="FormRegister.get('Alamat').hasError(validation.type) && (FormRegister.get('Alamat').dirty || FormRegister.get('Alamat').touched)"
        >
          <span>{{ validation.message }}</span>
          <br /><br />
        </div>
      </ng-container>
    </div>
    <br />
    <ion-button expand="full" (click)="Register()">Register</ion-button>
  </form>
  <p class="ion-text-center">
    Sudah punya akun?
    <a routerLink="/login">&nbsp;Masuk Sekarang</a>
  </p>
  <span></span>
  <p class="ion-text-center">
    Dengan mendaftar anda menyetujui
    <a routerLink="/sdk">Syarat & Ketentuan</a>.
  </p>
</ion-content>
