<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pencairan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div> -->
  <div>
    <ion-label position="stacked" floating>Sumber Dana</ion-label>
    <ion-select>
      <ion-select-option>Reguler</ion-select-option>
      <ion-select-option>Pendidikan</ion-select-option>
      <ion-select-option>Perayaan</ion-select-option>
      <ion-select-option>Sosial</ion-select-option>
    </ion-select>
  </div>

  <!-- <ion-grid>
      <ion-col>
        <ion-button (click)="startScanner(s)">Mulai Scan</ion-button>
      </ion-col>
       //(scanSuccess)="onCodeResult($event)"

    </ion-grid> -->
  <!-- </div> -->

  <div id="container">
    <ion-button (click)="barcodeScanner()">Scan My Code</ion-button>

    <p>{{scannedOutput}}</p>
  </div>
  <!-- </div> -->
</ion-content>
