<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button class="back" defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Pencairan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cntt">
  <ion-list class="list">
    <ion-label class="label">Sumber Dana</ion-label>
    <ion-item>
      <ion-select class="select" placeholder="Pilih Rekening" [(ngModel)]="rekId" (ionChange)="setRekening()">
        <ion-select-option *ngFor="let rek of rekening" [value]="rek.id_jenis">{{rek.nama}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-grid class="grid">
    <ion-row class="row">
      <ion-col class="col">
        <ion-button fill="outline" id="button1" class="tn" (click)="setValue('100000')">
          {{ '100000' | currency:'Rp ' }}</ion-button>
      </ion-col>
      <ion-col class="col">
        <ion-button fill="outline" id="button2" class="tn" (click)="setValue('200000')">
          {{ '200000' | currency:'Rp ' }}</ion-button>
      </ion-col>
      <ion-col class="col">
        <ion-button fill="outline" id="button3" class="tn" (click)="setValue('300000')">
          {{ '300000' | currency:'Rp ' }}</ion-button>
      </ion-col>
      <ion-col class="col">
        <ion-button fill="outline" id="button4" class="tn" (click)="setValue('400000')">
          {{ '400000' | currency:'Rp ' }}</ion-button>
      </ion-col>
      <ion-col class="col">
        <ion-button fill="outline" id="button5" class="tn" (click)="setValue('500000')">
          {{ '500000' | currency:'Rp ' }}</ion-button>
      </ion-col>
      <ion-col class="col">
        <ion-button fill="outline" id="button6" class="tn" (click)="setValue('600000')">
          {{ '600000' | currency:'Rp ' }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="custom">
    <ion-label class="label" position="stacked" floating>Masukkan Nominal Penarikan</ion-label>
    <ion-item>
      <ion-input placeholder="Masukan nominal yang ingin anda tarik" [(ngModel)]="nominal" (keyup)="setNominal($event)"></ion-input>
    </ion-item>
  </div>

  <div class="trx">
    <ion-button [disabled]="btnsubmit" class="konfirm" (click)="submit()">Ajukan</ion-button>
  </div>

</ion-content>