.header {
    font-family: 'Poppins', sans-serif;
}
.cntt{
    font-family: 'Poppins', sans-serif;
    .list{
        margin: 20px;
    }
    .custom{
        margin: 30px;
    }
}

.label {
    margin-left: 5px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.info{
    color: #a6ce39;
    text-align: center;
}

.title {
    font-weight: bold;
}

.grid{
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.tn{
    margin: 5px;
}

.trx{
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14x;
    height: 40px;
    border-radius: 12px;
    text-decoration-color: #FCFFF2;
    // --background: #1D8A4D;
    justify-content: center;
    display: flex;
    .konfirm{
        width: 85px;

    }
}