// @import '~swiper/swiper.scss';
// @import '~@ionic/angular/css/ionic-swiper';
// @import '~swiper/components/pagination/pagination.scss';

.ion-content{
    --background: #FCFFF2;
}

.swipers {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #167A42;


}

.swip{
    margin: 20px;
    background: url('../../../assets/image/bgrek.jpg')10%;
    border-radius: 20px;
    width: 92%;
    height: 30%;
 }

  .swiper-slide {
    margin: 20px;
    pointer-events: none;
  }

h3{
    text-align: center;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
}

button{
    border-radius: 10px;
    width: 68px;
    height: 68px;
}

.withdrawl{
    background: rgba(46, 204, 113, 0.2);
    
}
.jmpt {
    background: rgba(243, 156, 18, 0.2);
    
}
.sembako {
    background: rgba(231, 76, 60, 0.2);
    
}
.pinjaman {
    background: rgba(120, 192, 219, 0.2);
    
}
.sampah{
    background: rgba(231, 76, 60, 0.2);
}
.invoice{
    background: rgba(243, 156, 18, 0.2);
}
.rekening{
    background: rgba(46, 204, 113, 0.2);
}

div{
    margin: 10px;
}

.log{
    border-color: #167A42;
    margin: 20px;
    height: 50%;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

ion-label{
    margin-left: 20px;
    color: #167A42;
}


