.swipers {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.swip {
    background: url('../../../assets/image/bgrek.jpg')10%;
    padding: 2em;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card-menu {
    width: auto;
    border-radius: 20px;
    padding: 2rem;
    margin-bottom: 20px;
}

// .swiper-slide {
//     pointer-events: none;
//     font-weight: bold;
// }


.label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    // text-align: center;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    border-radius: 0.3rem;
    
}

.butnn {
    border-radius: 10px;
    width: 68px;
    height: 68px;
    --padding-end: 0;
    --padding-start: 0;
}


.jmpt {
    --background: rgba(243, 156, 18, 0.2);
    display: block;
    margin: 0 auto;
}

.sembako {
    --background: rgba(231, 76, 60, 0.2);
    display: block;
    margin: 0 auto;
}

.pinjaman {
    --background: rgba(120, 192, 219, 0.2);
    display: block;
    margin: 0 auto;
}

.sampah {
    --background: rgba(231, 76, 60, 0.2);
    display: block;
    margin: 0 auto;
}

.invoice {
    --background: rgba(243, 156, 18, 0.2);
    display: block;
    margin: 0 auto;
}

.rekening {
    --background: rgba(46, 204, 113, 0.2);
    display: block;
    margin: 0 auto;
}
.rts {
    height: 50%;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
}
.rt {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

b {
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    color: #000;
}

.link {
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
    color: #B9B4B4;
}