<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <h6 *ngIf="!nasabah" style="text-align:center; margin: 20px 0 !important">Silahkan untuk melengkapi profil anda untuk
    bisa mengakses menu
    lainnya</h6>
  <swiper [pagination]="false" class="swipers">
    <ng-template swiperSlide *ngFor="let rek of rekening">
      <ion-card class="swip">
        <h2>{{rek.nama}}</h2>
        <p>{{rek.no_rek}}</p>
        <h3 style="text-align:end;">{{rek.saldo | currency: 'Rp. '}}</h3>
      </ion-card>
    </ng-template>
  </swiper>

  <ion-card class="card-menu">
    <ion-row class="center" *ngIf="nasabah">
      <ion-col size="4" style="margin-bottom:1em; text-align: center;">
        <ion-button class="jmpt butnn" routerLink="/penjemputan">
          <img src="../../../assets/image/jmpt.png" alt="img" />
        </ion-button>
        <ion-label class="label">Jemput Sampah</ion-label>
      </ion-col>
      <ion-col size="4" style="margin-bottom:1em; text-align: center;">
        <ion-button class="sembako butnn" routerLink="/sembako">
          <img src="../../../assets/image/sembako.png" alt="img" />
        </ion-button>
        <ion-label class="label">
          Katalog Sembako
        </ion-label>
      </ion-col>
      <ion-col size="4" style="margin-bottom:1em; text-align: center;">
        <ion-button class="pinjaman butnn" routerLink="/pinjaman">
          <img src="../../../assets/image/pinjam.png" alt="img" />
        </ion-button>
        <ion-label class="label">Pinjaman Sosial</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="center">
      <ion-col size="4" style="margin-bottom:1em; text-align: center;" *ngIf="nasabah">
        <ion-button class="invoice butnn" routerLink="/laporan">
          <img src="../../../assets/image/invoice.png" alt="img" />
        </ion-button>
        <ion-label class="label">Laporan Penjualan</ion-label>
      </ion-col>
      <ion-col size="4" style="margin-bottom:1em; text-align: center;">
        <ion-button class="sampah butnn" routerLink="/sampah">
          <img src="../../../assets/image/sampah.png" alt="img" />
        </ion-button>
        <ion-label class="label">Katalog Sampah</ion-label>
      </ion-col>
      <ion-col size="4" style="margin-bottom:1em; text-align: center;">
        <ion-button class="rekening butnn" routerLink="/bukarek">
          <img src="../../../assets/image/tambah.png" alt="img" />
        </ion-button>
        <ion-label class="label">
          Buka Rekening
        </ion-label>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card class="rts">

    <div class="rt">
      <b>Riwayat Transaksi</b>
      <a class="link" routerLink="/log" click="">Lihat Semua</a>
    </div>
    <div class="no-data" *ngIf="!history?.length">
      <img src="../../../assets/image/undraw_no_data_re_kwbl.svg" alt="report"
        style="height: 106px; display: block; margin: 0 auto; margin-top: 1em !important;">
      <h6 style="text-align: center;">Tidak ada riwayat transaksi</h6>
    </div>
    <div class="content" *ngIf="history?.length">
      <ion-list>
        <ion-item *ngFor="let item of history" style="margin-top: 10px;">
          <ion-icon slot="start" name="cart-outline" style="margin-right: 10px;"
            *ngIf="item.transaction_type == 'Pembelian Sembako'"></ion-icon>
          <ion-icon slot="start" name="wallet-outline" style="margin-right: 10px;"
            *ngIf="item.transaction_type == 'Pencairan Dana'"></ion-icon>
          <ion-icon slot="start" name="receipt-outline" style="margin-right: 10px;"
            *ngIf="item.transaction_type == 'Peminjaman Dana'"></ion-icon>
          <ion-label style="margin-bottom: 5px;">
            <h2 class="color-primary">{{item?.transaction_type}}</h2>
            <h5>{{item?.update_at | date: 'dd MMMM YYYY'}}</h5>
            <ion-row>
              <ion-col>
                <p class="text-mute">{{item?.nominal | currency: 'Rp '}}</p>
              </ion-col>
              <ion-col style="text-align: end;">
                <p class="color-primary">{{item?.status}}</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-card>
</ion-content>