<ion-content class="ion-padding">
  <swiper [pagination]="false" class="swipers">
    <ng-template swiperSlide *ngFor="let rek of rekening">
      <ion-card class="swip">
        <h2>{{rek.nama}}</h2>
        <br />
        <h3>{{rek.saldo | currency: 'Rp. '}}</h3>
      </ion-card>
    </ng-template>
  </swiper>

  <ion-card class="card-menu">
    <ion-row class="center">
      <ion-col size="4" style="margin-bottom:1em; text-align: center;">
        <ion-button class="jmpt butnn" routerLink="/penjemputan">
          <img src="../../../assets/image/jmpt.png" alt="img" />
        </ion-button>
        <ion-label class="label">Jemput Sampah</ion-label>
      </ion-col>
      <ion-col size="4" style="margin-bottom:1em; text-align: center;">
        <ion-button class="sembako butnn" routerLink="/sembako">
          <img src="../../../assets/image/sembako.png" alt="img" />
        </ion-button>
        <ion-label class="label">
          Katalog Sembako
        </ion-label>
      </ion-col>
      <ion-col size="4" style="margin-bottom:1em; text-align: center;">
        <ion-button class="pinjaman butnn" routerLink="/pinjaman">
          <img src="../../../assets/image/pinjam.png" alt="img" />
        </ion-button>
        <ion-label class="label">Pinjaman Sosial</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="center">
      <ion-col size="4" style="margin-bottom:1em; text-align: center;">
        <ion-button class="invoice butnn" routerLink="/laporan">
          <img src="../../../assets/image/invoice.png" alt="img" />
        </ion-button>
        <ion-label class="label">Laporan Penjualan</ion-label>
      </ion-col>
      <ion-col size="4" style="margin-bottom:1em; text-align: center;">
        <ion-button class="sampah butnn" routerLink="/sampah">
          <img src="../../../assets/image/sampah.png" alt="img" />
        </ion-button>
        <ion-label class="label">Katalog Sampah</ion-label>
      </ion-col>
      <ion-col size="4" style="margin-bottom:1em; text-align: center;">
        <ion-button class="rekening butnn" routerLink="/bukarek">
          <img src="../../../assets/image/tambah.png" alt="img" />
        </ion-button>
        <ion-label class="label">
          Buka Rekening
        </ion-label>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card class="rts">
    <div class="rt">
      <b>Riwayat Transaksi</b>
      <a class="link" routerLink="/log" click="">Lihat Semua</a>
    </div>
    <ion-infinite-scroll threshold="100px" id="infinite-scroll">
      <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-card>
</ion-content>