

.swipers {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #000;


}

.swip{
    background: url('../../../assets/image/bgrek.jpg')10%;
}

ion-card{
    width: auto;
    margin: 20px;
    border-radius: 20px;
 }

 

  .swiper-slide {
    pointer-events: none;
    font-weight: bold;
  }


p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    border-radius: 0.3rem;
    width: 3rem;
}

.card {
    margin: 1rem;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    .flex {
        display: flex;
        justify-content: space-evenly;
        // padding: 1rem 0.5rem;
        text-align: center;

    }
}

ion-button{
    border-radius: 10px;
    width: 68px;
    height: 68px;
}

.withdrawl{
    --background: rgba(46, 204, 113, 0.2);
    
}
.jmpt {
    --background: rgba(243, 156, 18, 0.2);
    
}
.sembako {
    --background: rgba(231, 76, 60, 0.2);
    
}
.pinjaman {
    --background: rgba(120, 192, 219, 0.2);
    
}
.sampah{
    --background: rgba(231, 76, 60, 0.2);
}
.invoice{
    --background: rgba(243, 156, 18, 0.2);
}
.rekening{
    --background: rgba(46, 204, 113, 0.2);
}

div{
    margin: 10px;
}

.log{
    margin: 20px;
    height: 50%;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    
}

.rt{
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

b{
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    color: #000;
}
.link{
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
    color: #B9B4B4;
}


