<ion-content class="ion-content">
  <ion-card class="swip">
    <swiper [pagination]="false" class="swipers">
      <ng-template swiperSlide>
        <div class="slide">
          <h2>REGULER</h2>
          <br />
          <h3>Saldo</h3>
        </div>
      </ng-template>

      <!-- <ng-template swiperSlide>
        <div class="slide">
          <h2>Kami Bertujuan</h2>
          <p>
            “Mereduksi (Mengurangi) Timbulan Sampah di tingkat masyarakat. dan
            mewujudkan Kota Tanjungpinang yang bersih, indah dan lestari.”
          </p>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="slide bg">
          <h2>Permudah Setor Sampah</h2>
          <p>
            Gak perlu repot mikirin sampah yang susah di bawa, karena kami punya
            layanan JEMPUT SAMPAH.
          </p>
          <ion-button fill="clear" click="" routerLink="/login"
            >Mulai</ion-button
          >
        </div>
      </ng-template> -->
    </swiper>
  </ion-card>

  <ion-grid>
    <ion-col class="menu">
      <div>
        <button class="withdrawl" routerLink="/menu/pencairan">
          <img src="../../../assets/image/withdraw.png" alt="img" />
        </button>
        <p>Tarik<br />Tunai</p>
      </div>
      <div>
        <button class="jmpt">
          <img src="../../../assets/image/jmpt.png" alt="img" />
        </button>
        <p>Jemput<br />Sampah</p>
      </div>
      <div>
        <button class="sembako">
          <img src="../../../assets/image/sembako.png" alt="img" />
        </button>
        <p>
          Katalog<br />
          Sembako
        </p>
      </div>

      <div>
        <button class="pinjaman" click="">
          <img src="../../../assets/image/pinjam.png" alt="img" />
        </button>
        <p>Pinjaman<br />Sosial</p>
      </div>
      <div>
        <button class="invoice" click="">
          <img src="../../../assets/image/invoice.png" alt="img" />
        </button>
        <p>Laporan<br />Penjualan</p>
      </div>
      <div>
        <button class="sampah" click="">
          <img src="../../../assets/image/sampah.png" alt="img" />
        </button>
        <p>Katalog<br />Sampah</p>
      </div>
      <div>
        <button class="rekening">
          <img src="../../../assets/image/tambah.png" alt="img" />
        </button>
        <p>
          Buka<br />
          Rekening
        </p>
      </div>
    </ion-col>
  </ion-grid>
  <div class="rt">
    <b>Riwayat Transaksi</b>
    <a class="link" routerLink="/log" click="">Lihat Semua</a>
  </div>
  <ion-card class="log">
    <ion-infinite-scroll threshold="100px" id="infinite-scroll">
      <ion-infinite-scroll-content
        loading-spinner="bubbles"
        loading-text="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-card>
</ion-content>
