<ion-content class="ion-padding ctn">
  <ion-grid>
    <ion-row class="row">
      <ion-col><br />
        <div class="boxContainer">
          <div class="head">
            <h1>LOGIN</h1>
          </div>
        </div>
        <br />
        <br />
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="FormLogin">
    <ion-item class="item">
      <div color="dark" slot="start">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </div>
      <ion-input class="input" type="text" name="Username" placeholder="Username" formControlName="username"></ion-input>
    </ion-item>
    <ion-item class="item">
      <div color="dark" slot="start">
        <ion-icon slot="icon-only" name="lock-closed"></ion-icon>
      </div>
      <ion-input class="input" (keyup.enter)="login()" type="text" name="password" placeholder="Password" formControlName="password"
        *ngIf="showPasswordText">
      </ion-input>
      <ion-input class="input" type="password" name="password" placeholder="Password" formControlName="password"
        *ngIf="!showPasswordText" (keyup.enter)="login()"></ion-input>
      <ion-icon color="dark" slot="icon-only" (click)="showPasswordText = !showPasswordText" *ngIf="showPasswordText"
        name="eye" slot="end" class="ion-align-self-center"></ion-icon>
      <ion-icon color="dark" slot="icon-only" (click)="showPasswordText = !showPasswordText" *ngIf="!showPasswordText"
        name="eye-off" slot="end" class="ion-align-self-center"></ion-icon>
    </ion-item>
  </form>
  <ion-button class="btn" [disabled]="!FormLogin.valid" (click)="login()">Login</ion-button>
  <p class="ion-text-center">Sudah punya akun?</p>
  <ion-button class="btn" color="danger" (click)="goToRegister()">Register</ion-button>
</ion-content>