.konten {
    --background: url('../../../../assets/image/bglog.png') no-repeat 20%;
    background-size: cover;
    background-position: center;

    font-family: 'Poppins', sans-serif;
    
}



h1{
    font-size: 36px;
    text-align: center;
    color: #A6CE39;
    padding-top: 7%;
    font-weight: bold;
}

.row {
    align-items: center;
    text-align: center;
}

.item {
    border-radius: 10px !important;
    font-size: 0.9em;
    margin-bottom: 15px;
    border: 1px solid rgba(34, 34, 34, 0.096);
    border-bottom: 0px !important;

    background-color: #ffffff;
    -webkit-box-shadow: 4px 8px 6px -6px #222;
    -moz-box-shadow: 4px 8px 6px -6px #222;
    box-shadow: 4px 4px 6px -6px #222;
}

.input{
    margin-left: 5px;
}

.button {
    display: block;
    width: 100%;
    height: 3em;
}


p{
    margin: 5px;
}

