ion-content {
    --background: url('../../../../assets/image/bglog.png') no-repeat 20%;
    background-size: cover;
    background-position: center;

    font-family: 'Poppins', sans-serif;
    
}

// .content{
//     text-align: center;

    
//     display: grid;
//     align-items: center;
//     min-height: 100vh;
// }

// ion-card{
//     text-align: justify;
// }



h1{
    font-size: 36px;
    text-align: center;
    color: #A6CE39;
    padding-top: 7%;
    font-weight: bold;
}


ion-list {
    background-color: transparent;
    padding: 0;
}

ion-row {
    align-items: center;
    text-align: center;
}

ion-item {
    border-radius: 10px !important;
    font-size: 0.9em;
    margin-bottom: 15px;
    border: 1px solid rgba(34, 34, 34, 0.096);
    border-bottom: 0px !important;

    background-color: #ffffff;
    -webkit-box-shadow: 4px 8px 6px -6px #222;
    -moz-box-shadow: 4px 8px 6px -6px #222;
    box-shadow: 4px 4px 6px -6px #222;
}

ion-input{
    margin-left: 5px;
}

ion-button {
    // margin-top: 20px;
    color: #FCFFF2;
    --background: #1D8A4D;
}


// ion-label {
//     margin-left: 5px;
//     color: #B5B5B5;
//     font-size: 18px;
// }

p{
    margin: 5px;
}


