<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Katalog Sampah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let t of trash">
      <ion-card-header>
        <ion-card-title>{{ t.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-col size="8">
          <a>Bersih:&nbsp; {{ t.bersih | currency: 'Rp' }}&nbsp;</a>
          <a>{{ t.satuan }}</a>

          <br />

          <a>Kotor:&nbsp; {{ t.kotor | currency: 'Rp' }}&nbsp;</a>
          <a>{{ t.satuan }}</a>
        </ion-col>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
