<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Riwayat Transaksi</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="no-data" *ngIf="!history?.length">
    <img src="../../../assets/image/undraw_no_data_re_kwbl.svg" alt="report" height="300px"
      style="display: block; margin: auto;">
    <h6 style="text-align: center;">Tidak ada riwayat transaksi</h6>
  </div>
  <div class="content" *ngIf="history?.length">
    <ion-list>
      <ion-item *ngFor="let item of history" style="margin-top: 10px;">
        <ion-icon slot="start" name="cart-outline" style="margin-right: 10px;"
          *ngIf="item.transaction_type == 'Pembelian Sembako'"></ion-icon>
        <ion-icon slot="start" name="wallet-outline" style="margin-right: 10px;"
          *ngIf="item.transaction_type == 'Pencairan Dana'"></ion-icon>
        <ion-icon slot="start" name="receipt-outline" style="margin-right: 10px;"
          *ngIf="item.transaction_type == 'Peminjaman Dana'"></ion-icon>
        <ion-label style="margin-bottom: 5px;">
          <h2 class="color-primary">{{item?.transaction_type}}</h2>
          <h5>{{item?.update_at | date: 'dd MMMM YYYY'}}</h5>
          <ion-row>
            <ion-col>
              <p class="text-mute">{{item?.nominal | currency: 'Rp '}}</p>
            </ion-col>
            <ion-col style="text-align: end;">
              <p class="color-primary">{{item?.status}}</p>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>