<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Riwayat Transaksi</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <div class="no-data" *ngIf="!pinjaman?.length || !pencairan?.length">
    <img src="../../../assets/image/undraw_no_data_re_kwbl.svg" alt="report">
    <h6 style="text-align: center;">Tidak ada riwayat transaksi</h6>
  </div>
  <div class="content" *ngIf="pencairan?.length">
    <h6 class="text-center">Riwayat Pencairan Dana</h6>
    <ion-list>
      <ion-item *ngFor="let item of pencairan">
        <ion-icon slot="start" name="albums-outline" style="margin-right: 10px;"></ion-icon>
        <ion-label>
          <h2>{{item?.tanggal | date: 'dd MMMM YYYY'}}</h2>
          <p>{{item?.nominal | currency: 'Rp '}}</p>
          <p>{{item?.status}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="content" *ngIf="pinjaman?.length">
    <h6 class="text-center">Riwayat Pinjaman Sosial</h6>
    <ion-list>
      <ion-item *ngFor="let item of pinjaman">
        <ion-icon slot="start" name="albums-outline" style="margin-right: 10px;"></ion-icon>
        <ion-label>
          <h2>{{item?.tanggal | date: 'dd MMMM YYYY'}}</h2>
          <p>{{item?.nominal_pinjaman | currency: 'Rp '}}</p>
          <p>{{item?.keperluan}}</p>
          <p>{{item?.status}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>