.tool {
    font-family: 'Poppins', sans-serif;
}
.item {
    margin-top: 20px;
}
.withIcon {
    // display: flex;
    align-items: end;
    ion-icon {
        margin-bottom: 5px;
    }
}
p{
    padding-left: 1em;
    color: rgb(201, 199, 199);
}
.button {
    display: flex;
    justify-content: center;
    margin: 0px;

    .log {
        height: 45px;
        width: 60px;
        border-radius: 12px;
        text-decoration-color: #FCFFF2;
        --background: #1D8A4D;
    }
}
.date{
    margin-left: 28px;
    margin-top: 22px;
}